In [1]:
import pandas as pd

In [2]:
filepath = './Resources/Border_Crossing_Entry_Data.csv'

# Import Data
raw_df = pd.read_csv(filepath)

raw_df.head()

,Port Name,State,Port Code,Border,Date,Measure,Value,Latitude,Longitude,Point
0,Roma,Texas,2310,US-Mexico Border,Dec 2023,Buses,46,26.404,-99.019,POINT (-99.018981 26.403928)
1,Del Rio,Texas,2302,US-Mexico Border,Dec 2023,Trucks,6552,29.327,-100.928,POINT (-100.927612 29.326784)
2,Willow Creek,Montana,3325,US-Canada Border,Jan 2024,Pedestrians,2,49.000,-109.731,POINT (-109.731333 48.999972)
3,Whitlash,Montana,3321,US-Canada Border,Jan 2024,Personal Vehicles,29,48.997,-111.258,POINT (-111.257916 48.99725)
4,Ysleta,Texas,2401,US-Mexico Border,Jan 2024,Personal Vehicle Passengers,521714,31.673,-106.335,POINT (-106.335449846028 31.6731261376859)

In [3]:
raw_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 393329 entries, 0 to 393328
Data columns (total 10 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Port Name  393329 non-null  object
 1   State      393329 non-null  object
 2   Port Code  393329 non-null  int64
 3   Border     393329 non-null  object
 4   Date       393329 non-null  object
 5   Measure    393329 non-null  object
 6   Value      393329 non-null  int64
 7   Latitude   393329 non-null  float64
 8   Longitude  393329 non-null  float64
 9   Point      393329 non-null  object
dtypes: float64(2), int64(2), object(6)
memory usage: 30.0+ MB

In [4]:
# Split date column into month and year
raw_df[['month','year']] = raw_df.Date.str.split(' ', expand=True)

raw_df.head()

,Port Name,State,Port Code,Border,Date,Measure,Value,Latitude,Longitude,Point,month,year
0,Roma,Texas,2310,US-Mexico Border,Dec 2023,Buses,46,26.404,-99.019,POINT (-99.018981 26.403928),Dec,2023
1,Del Rio,Texas,2302,US-Mexico Border,Dec 2023,Trucks,6552,29.327,-100.928,POINT (-100.927612 29.326784),Dec,2023
2,Willow Creek,Montana,3325,US-Canada Border,Jan 2024,Pedestrians,2,49.000,-109.731,POINT (-109.731333 48.999972),Jan,2024
3,Whitlash,Montana,3321,US-Canada Border,Jan 2024,Personal Vehicles,29,48.997,-111.258,POINT (-111.257916 48.99725),Jan,2024
4,Ysleta,Texas,2401,US-Mexico Border,Jan 2024,Personal Vehicle Passengers,521714,31.673,-106.335,POINT (-106.335449846028 31.6731261376859),Jan,2024

In [5]:
drop_df = raw_df.drop(columns='Date')

In [6]:
# Turn year into an integer
drop_df['year'] = drop_df['year'].astype(int)

In [7]:
drop_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 393329 entries, 0 to 393328
Data columns (total 11 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Port Name  393329 non-null  object
 1   State      393329 non-null  object
 2   Port Code  393329 non-null  int64
 3   Border     393329 non-null  object
 4   Measure    393329 non-null  object
 5   Value      393329 non-null  int64
 6   Latitude   393329 non-null  float64
 7   Longitude  393329 non-null  float64
 8   Point      393329 non-null  object
 9   month      393329 non-null  object
 10  year       393329 non-null  int32
dtypes: float64(2), int32(1), int64(2), object(6)
memory usage: 31.5+ MB

In [8]:
filter = drop_df.year > 2017

filter_df = drop_df[filter]
filter_df.head()

,Port Name,State,Port Code,Border,Measure,Value,Latitude,Longitude,Point,month,year
0,Roma,Texas,2310,US-Mexico Border,Buses,46,26.404,-99.019,POINT (-99.018981 26.403928),Dec,2023
1,Del Rio,Texas,2302,US-Mexico Border,Trucks,6552,29.327,-100.928,POINT (-100.927612 29.326784),Dec,2023
2,Willow Creek,Montana,3325,US-Canada Border,Pedestrians,2,49.000,-109.731,POINT (-109.731333 48.999972),Jan,2024
3,Whitlash,Montana,3321,US-Canada Border,Personal Vehicles,29,48.997,-111.258,POINT (-111.257916 48.99725),Jan,2024
4,Ysleta,Texas,2401,US-Mexico Border,Personal Vehicle Passengers,521714,31.673,-106.335,POINT (-106.335449846028 31.6731261376859),Jan,2024

In [9]:
filter_df.columns = [col.lower().replace(' ','_') for col in filter_df.columns]

In [12]:
filter_df.to_csv('cleaned_border_data.csv', index=False)